<%- include('parts/head') %>
<title>RıdvanDev - Anasayfa</title>
<%- include('parts/navbar') %>
 <div class="profiles">
   <div class="impp">
     <img src="https://cdn.glitch.global/5c8ebe70-2dde-4ce4-ad6b-db1f381b61c4/ridvandev.png?v=1666612537605" alt="photo"  style="border-color: <%= renk %>;">
   </div>
   <%- include('parts/brrr') %>
   <div class="bkz">
     <h4>Selam ben <span class="zuzia">Rıdvan</span>.</h4>
 </div>
   </div>
   <%- include('parts/brrr') %>
     <br>
  <%- include('parts/brrr') %>
  <%- include('parts/social') %>
  <%- include('parts/brrr') %>
    <%- include('parts/brrr') %>
      <%- include('parts/brrr') %>
    <br>
  <%- include('parts/footer') %>
