
<%- include('parts/head') %>
<title>RıdvanDev - Hakkımda</title>
<%- include('parts/navbar') %>
  <br>
<div class="card">
  <div class="text">
    <h4>
      Hey selam ben <span class="zuzia">Rıdvan</span>. 2004 yılında Konya'nın Meram ilçesinde doğdum. Liseyi BİST Gazi Mustafa Kemal MTA lisesinde okudum şuan ise yks sınavına hazırlanıyorum. Hobilerim müzik dinlemek, yazılım yapmak ve yemek yapmak.
    </h4>
  </div>
  </div>
  
  <br><br><br>
 
  <%- include('parts/brrr') %>
  <%- include('parts/skill') %>
  <%- include('parts/brrr') %>
  <%- include('parts/brrr') %>
  <%- include('parts/brrr') %>
  <%- include('parts/social') %>
  <%- include('parts/footer') %>